* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  height: 100vh;
  min-height: 100vh;
}

header {
  padding: 16px;
  background-color: #03a9f4;
  color: #fff;
}

main {
  padding: 16px;
  min-height: 100px;
  background-color: #eee;
}

footer {
  padding: 32px 16px;
  background-color: #3f51b5;
  color: #fff;
  display: flex;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

footer ul li {
  margin-right: 40px;
}
